<div class="col-lg-12">
	<br /><hr /><br />
	<h3><i class="fa fa-file-o"></i>&nbsp;&nbsp;Showcase</h3>
	<div class="showcase">
		{% for Item in Data.showcase %}
		<!-- Item -->
		<div class="showcase-content">
			{% if Item.year %}<span class="content-time"><i class="fa fa-calendar-o"></i> Tahun {{ Item.year }}</span>{% endif %}
			{% if Item.title %}<h2>{{ Item.title }} {% for Tag in Item.tags %}<span class="badge badge-info">{{ Tag }}</span> {% endfor %}</h2>{% endif %}
			{% if Item.img %}
				<div class="content-img">
					{% for i in range(0, Item.img[1]) %}
						<a href="data/img/{{ Item.img[0] }}_{{ i+1 }}.png"><img src="data/thumb/{{ Item.img[0] }}_{{ i+1 }}.jpg"/></a>
					{% endfor %}
				</div>
			{% endif %}
			{{ Item.article }}
		</div>
		{% endfor %}
	</div>
</div>